.new-login-area{
    padding:24px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
  label {
    font-size: 12px;
  }
  .request-otp-header {
    margin: 40px 0px;
  }
  .login-label label {
    color: #c74032;
    font-weight: 600;
  }
  .input-edit {
    border: none !important;
    border-bottom: 2px solid #ccc !important;
    padding: 6px 0px;
    opacity: 0.8;
  }
  .input-edit:focus {
    border-bottom-color: #c74032 !important;
    box-shadow: none;
    outline: 0;
  }
  
  .request-otp {
    margin-top: 10px;
    background: linear-gradient(#c74032, #91041b);
    font-size: 14px;
    color: #fff;
  }
  .request-otp:focus {
    box-shadow: none;
  }
  .fa-chevron-left {
    cursor: pointer;
  }
  .resend-otp{
    margin-top:6px;
    cursor:pointer;
  }
  .phoneiocn{
    margin: 30px 0;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #ddd;
    line-height: 80px;
    font-size: 41px;
    color: #b9b9b9;
  }
  .otpbtn{
    background: #fff;
    border: 1px solid #a7a5a5;
    margin: 30px 0;
    font-size: 12px;
    color: #666363;
    transition:0.6s all
  }

.otpbtn:hover{
  background: #ff6347;
  border: 1px solid #ff6347;
}